#mynetwork {
  width: 600px;
  height: 400px;
  border: 1px solid lightgray;
  background-size: cover;
  background-position:center;
}

body {
  margin: 0em;
 font-family: 'Noto Sans', sans-serif;
  background-color:#f6fafb;
  
  
}

h1,h2,h3,h4,h5{
  font-family: 'Fjalla One', sans-serif;
}

.cover {
  
  height:400px;
  background-image:url(https://cdn.glitch.com/d87b0629-c83c-4b77-8347-bd0bb9929c8b%2Fb07f287999061a4e01c1be81e985690d.png?v=1620221079983);
  color:white;
  background-size: cover;
  background-position:center;
  background-color:rgba(0,0,0,0.6);
  background-blend-mode: darken;
  
}

.cover-small{
  height:200px;
  background-blend-mode: normal;
}
